In [1]:
import findspark
findspark.init()

In [2]:
import pyspark

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder\
    .appName("NNS2")\
    .getOrCreate()

In [5]:
from pyspark.sql import Row

In [6]:
Person = Row('name', 'age')

In [7]:
 d = [{'name': 'Alice', 'age': 1}]

In [8]:
df1 = spark.createDataFrame(d)

In [9]:
df1.show()

+---+-----+
|age| name|
+---+-----+
|  1|Alice|
+---+-----+

In [10]:
sc = spark.sparkContext

In [11]:
rdd = sc.parallelize([],10)

In [12]:
data = [("James","Smith","USA","CA"),("Michael","Rose","USA","NY"), \
    ("Robert","Williams","USA","CA"),("Maria","Jones","USA","FL") \
  ]

In [13]:
columns=["firstname","lastname","country","state"]

In [14]:
df=spark.createDataFrame(data=data,schema=columns)

In [15]:
df.show()

+---------+--------+-------+-----+
|firstname|lastname|country|state|
+---------+--------+-------+-----+
|    James|   Smith|    USA|   CA|
|  Michael|    Rose|    USA|   NY|
|   Robert|Williams|    USA|   CA|
|    Maria|   Jones|    USA|   FL|
+---------+--------+-------+-----+

In [16]:
print(df.collect())

[Row(firstname='James', lastname='Smith', country='USA', state='CA'), Row(firstname='Michael', lastname='Rose', country='USA', state='NY'), Row(firstname='Robert', lastname='Williams', country='USA', state='CA'), Row(firstname='Maria', lastname='Jones', country='USA', state='FL')]

In [17]:
states1=df.rdd.map(lambda x: x[3]).collect()

In [18]:
print(states1)

['CA', 'NY', 'CA', 'FL']

In [19]:
from collections import OrderedDict

In [20]:
res = list(OrderedDict.fromkeys(states1))

In [21]:
print(res)

['CA', 'NY', 'FL']

In [22]:
states2=df.rdd.map(lambda x: x.state).collect()

In [23]:
print(states2)

['CA', 'NY', 'CA', 'FL']

In [24]:
states3=df.select(df.state).collect()

In [25]:
print(states3)

[Row(state='CA'), Row(state='NY'), Row(state='CA'), Row(state='FL')]

In [26]:
states4=df.select(df.state).rdd.flatMap(lambda x: x).collect()

In [27]:
print(states4)

['CA', 'NY', 'CA', 'FL']

In [30]:
states5=df.select(df.state).toPandas()['state']

In [31]:
states6=list(states5)

In [32]:
print(states6)

['CA', 'NY', 'CA', 'FL']

In [33]:
pandDF=df.select(df.state,df.firstname).toPandas()
print(list(pandDF['state']))
print(list(pandDF['firstname']))

['CA', 'NY', 'CA', 'FL']
['James', 'Michael', 'Robert', 'Maria']